.root {
  /* Typography */
  -font-size: 14;

  /* Main Colors */
  -primary: #007bff;
  -secondary: #6c757d;
  -success: #28a745;
  -danger: #dc3545;
  -warning: #ffc107;
  -info: #17a2b8;
  -light: #f8f9fa;
  -dark: #343a40;
  -white: #fff;
}

#titlePane {
  -fx-background-color: -dark;
  -fx-text-fill: -white;
}

/* Set de styling voor de buttons */
.button,
.combo-box {
  -fx-background-color: -white;
  -fx-text-fill: -primary;
  -fx-font-size: 14;
}
.button:hover,
.combo-box:hover {
  -fx-background-color: -light;
  -fx-cursor: hand;
}

/* Set de label styling */
#boxContent .label {
  -fx-text-fill: -primary;
  -fx-font-size: 14;
}
